 @import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Amatic SC";
 }
.header-container img {
    width: 70px;
    height: auto;
    max-width: 100%;
}
.header-container h1 {
    font-family: var(--primary-font);
}
.header-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
}
.tag {
    border: 1px solid #615d5d;
    font-family: var(--primary-font);
    padding: 5px;
    display: inline-block;
}
.tag p {
    font-family: var(--primary-font);
}
.recipe-info h2 {
    font-family: var(--primary-font);
}
.recipe-info p {
    font-family: var(--primary-font);
}
.search-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  height: 2px;
  background-color: #ccc;

}
#searchInput {
  width: 100%;
  padding: 8px 40px 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-family: var(--primary-font);
  box-sizing: border-box;
}
#recipeDropdown {
    flex: 1;
    min-width: 0;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    appearance: none;
    z-index: 1;
    border-radius: 8px;
}
.search-container img{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
    z-index: 2;
    max-width: 100%;

    border-left: 2px solid #050000;
    padding-left: 10px;
}
.recipe-finder {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
}
.recipe-section {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
}
.recipe-card {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    align-items: flex-start;
    border: 2px solid rgb(32, 31, 31);
    border-radius: 10px;
    padding: 1rem;
}
.recipe-card img {
    height: auto;
    padding: 10px;
    max-width: 100%;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.footer-icons {
    display: flex;
    gap: 10px;
}
.footer-icons img{
    width: 50px;
    height: auto; 
    max-width: 100%;
}
@media (max-width: 600px) {
    .recipe-card {
        flex-direction: column;
    }
    .footer {
        flex-direction: column;
        gap: 10px;
    }
    .footer-icons {
        order: 1;
    }
    .footer p {
        order: 2;
    }
    .recipe-info p:not(.tag) {
        display: none;
    }
}
@media (max-width: 960px) {
    .recipe-card {
        flex-direction: column; 
    }

}

