h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman';
  margin-top: -15px;
}
h2 {
    font-size: 20px;
    font-family: 'Times New Roman';
    color: #006EB6;
    margin-top: -10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 3em;
}
body {
    border: 1px solid #D3D3D3;
    padding: 40px;
    margin: 40px;
    text-align: center;
    background-color: white;
}
.home-page {
    padding: 20x;
    display: flex;
}
.msg p {
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
    font-size: 17px;
}
.single-par p{
    text-align: left;
    font-style: italic;
}
.num-paragraph {
    margin-bottom: 50px;
    font-size: 17px;
}
.num-paragraph p {
    text-align: left;
    margin-left: 170px;
    margin-right: 100px;
}
#content {
    padding: 40px;

}
footer {
    text-align: center;
}
footer img {
    max-width: 150px;
    margin-bottom: -25px;
}
body.dark {
    background-color: #333;
    color: white;
}
select {
    padding: 5px;
    margin-bottom: 20px;
}
.dark h2 {
    color: #80C8F2;
}